                                  
                                    <tr>
                                          <td colspan="2" bgcolor="#33427a" style="padding: 40px;background:#33427a url('') no-repeat center bottom">

                                            <!-- //////////// BOTTOM  SECTION ////////////// -->
                                            

                                        
                                            <p style=" font-size:24px;line-height:28px;" ><a href="{linkRodape}" target="_blank" style="text-decoration:none;"><font color="#FFFFFF">
                                            <b>{tituloRodape}</b><br><br> {conteudoRodape}<br><br>
                                            </font></a></p>

                                            <table class="button clear" border="0" cellpadding="10" cellspacing="0" style="display: inline-block; margin:0 auto; font-weight: bold; font-size: 20px; text-align: center; cursor: pointer; color: #FFFFFF;border-radius: 6px; border-width:2px; border-style: solid; border-color: #FFFFFF;  background: rgba(255,255,255,0.2); margin:0 auto" align="center">
                                              <tr>
                                                  <td align="center" valign="middle" class="emailButtonContent">
                                                      <a href="{linkRodape}" target="_blank" style="text-decoration:none;padding:10px;"><font color="white">{botaoRodape}</font></a>


                                                  </td>
                                              </tr>
                                                                       </table>
 <P><img src="http://emojipedia-us.s3.amazonaws.com/cache/c8/96/c896e0f794ae74c4cca27a73e870c4c0.png" align="center" width="35" height="35" style="display: inline-block; padding: 2px 5px 0;"><img src="http://emojipedia-us.s3.amazonaws.com/cache/f6/55/f655b62e57e3852b3ccbaca0f38c864f.png" align="center" width="35" height="35" style="display: inline-block; padding: 2px 5px 0;"><img src="http://emojipedia-us.s3.amazonaws.com/cache/bf/99/bf99f53847e85db8f28735757da2b301.png" align="center" width="35" height="35" style="display: inline-block; padding: 2px 5px 0;"></P>
                                        </td>
                                    </tr>

                                </table>
                
                                        </td>
                                    </tr>

      
                            </td>
                        </tr>
                        <!-- ////////////////////////////
                        //////////// FOOTER ////////////
                        /////////////////////////// -->
                        <tr>
                            <td>
                                <p style="margin:20px auto 0;text-align:center;color:#aaaaaa;font-weight: bold;">Siga-nos:</p>
                            </td>
                        </tr>
                        <tr>
                            <td id="socialLinks" style="text-align:center!important;">
                                <a href="https://www.facebook.com/institutodeandhela/"><img src="https://raw.githubusercontent.com/jpblbastos/images/master/facebook.png" width="40" height="40"></a>
                                <a href="http://www.twitter.com/tathideandhela"><img src="https://raw.githubusercontent.com/jpblbastos/images/master/twitter.png" width="40" height="40"></a>
                                <a href="https://www.youtube.com/tathianedeandhela"><img src="https://raw.githubusercontent.com/jpblbastos/images/master/youtube.png" width="40" height="40"></a>
                                <a href="https://br.linkedin.com/in/tathianedeandhela"><img src="https://raw.githubusercontent.com/jpblbastos/images/master/linkedin.png" width="40" height="40"></a>
                                <a id="blogLink" href="http://www.institutodeandhela.com.br/blog/"><img src="https://raw.githubusercontent.com/jpblbastos/images/master/blog.png" width="80" height="40"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        &nbsp;
        
    </body>
</html>